@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <ul class="nav nav-pills">
        <li><a href="#">Home</a></li>
        <li><a href="#/standing">Total</a></li>
        <li><a href="#/gameweek">Runder</a></li>
    </ul>
    <div class="content" ng-view=""></div>
</div>
