<div class="container-fluid" ng-hide="loading || error">

    <div class="btn-toolbar">
        <div class="btn-group">
            <button class="btn btn-default" ng-repeat="round in Rounds" ng-click="ChangeRound(round)">
                {{round}}&nbsp;<i ng-if="round === Round" class="glyphicon glyphicon-ok"></i>
            </button>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Navn</th>
                <th>Poing</th>
                <th>Benk</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="gw in vm.gameweek">
                <td ng-bind="$index + 1"></td>
                <td>
                    <span class="standing-teamname" ng-bind="gw.TeamName"></span><br /><span ng-bind="gw.Name"></span>
                </td>
                <td ng-bind="gw.Points"></td>
                <td ng-bind="gw.PointsOnBench"></td>

                <!--<td><span ng-bind="player.Cash"></span></td>
                <td><span ng-bind="player.CupRounds"></span></td>
                <td class="won">
                    <span ng-repeat="won in player.GameweeksWon" ng-bind="won"></span>
                </td>
                <td class="chip">
                    <span class="chip" ng-repeat="chip in player.Chips" ng-hide="chip === 'None'">
                        <span class="gwnumber" ng-bind="$index + 1"></span>
                        <span class="" ng-bind="chip"></span>
                    </span>
                </td>

                <td ng-bind="player.Transfers"></td>
                <td ng-bind="player.TransferCosts"></td>
                <td ng-bind="player.PointsTransferCostsExcluded"></td>
                <td ng-bind="player.Value"></td>
                <td ng-bind="player.Rank"></td>-->
            </tr>
        </tbody>
    </table>
</div>

<div class="container-fluid cover" ng-show="loading && !error">
    LASTER...
</div>

<div class="container-fluid" class="error" ng-show="error">
    <!--Feil. Dette kan ta tid. Drikk øl og se noen episoder av Days Of Our Lives...-->
    <!--Oi, hva skjedde?-->
    <!--Faen, måtte du? Nå ødela du alt! ALT!!-->
    Jeg er ikke sint. Bare veldig, veldig skuffet...
</div>

<div class="container-fluid">
    <pre>{{vm | json}}</pre>
</div>
