<div class="container-fluid" ng-hide="loading || error">

    <div class="btn-toolbar">
        <div class="btn-group">
            <button class="btn btn-default" ng-repeat="round in Rounds" ng-click="ChangeRound(round)">
                {{round}}&nbsp;<i ng-if="round === Round" class="glyphicon glyphicon-ok"></i>
            </button>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Navn</th>
                <th>Poing</th>
                <th>Benk</th>
                <th>Bytter</th>
                <th>Gebyr</th>
                <th>Brutto</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="gw in vm.gameweek">
            <td ng-bind="$index + 1"></td>
            <td>
                <span class="standing-teamname" ng-bind="gw.TeamName"></span><br/><span ng-bind="gw.Name"></span>
            </td>
            <td ng-bind="gw.PointsExcludedTransferCosts"></td>
            <td ng-bind="gw.PointsOnBench"></td>
            <td ng-bind="gw.Transfers"></td>
            <td ng-bind="gw.TransferCosts"></td>
            <td ng-bind="gw.Points"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container-fluid cover" ng-show="loading && !error">
    LASTER...
</div>

<div class="container-fluid" class="error" ng-show="error">
    <!--Feil. Dette kan ta tid. Drikk øl og se noen episoder av Days Of Our Lives...-->
    <!--Oi, hva skjedde?-->
    <!--Faen, måtte du? Nå ødela du alt! ALT!!-->
    Jeg er ikke sint. Bare veldig, veldig skuffet...
</div>