<div class="container-fluid" ng-hide="loading || error">
    <!--<table class="table">
        <thead>
        <tr>
            <th>#</div>
            <th>Navn</div>
            <th>$</div>
            <th>Chips</div>
            <th>Runder</div>
            <th style="cursor: pointer;" ng-click="OrderBy('Value')">Poing&nbsp;<span ng-show="orderByProp === 'Value'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></div>
            <th style="cursor: pointer;" ng-click="OrderBy('PointsOnBench')">Benk&nbsp;<span ng-show="orderByProp === 'PointsOnBench'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></div>
            <th style="cursor: pointer;" ng-click="OrderBy('Points')">Netto&nbsp;<span ng-show="orderByProp === 'Points'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></div>
            <th style="cursor: pointer;" ng-click="OrderBy('Transfers')">Bytter&nbsp;<span ng-show="orderByProp === 'Transfers'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></div>
            <th style="cursor: pointer;" ng-click="OrderBy('TransferCosts')">Gebyr&nbsp;<span ng-show="orderByProp === 'TransferCosts'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></div>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="player in vm.league.PlayerStandings | orderBy: orderByProp:orderByReverse">
            <td ng-bind="$index + 1"></td>
            <td><span class="standing-teamname" ng-bind="player.TeamName"></span><br/><span ng-bind="player.Name"></span></td>
            <td ng-bind="player.Cash"></td>
            <td ng-bind="player.Chips"></td>
            <td ng-bind="player.Rounds"></td>
            <td ng-bind="player.Value"></td>
            <td ng-bind="player.PointsOnBench"></td>
            <td ng-bind="player.Points"></td>
            <td ng-bind="player.Transfers"></td>
            <td ng-bind="player.TransferCosts"></td>
        </tr>
        </tbody>
    </table>-->

    <div class="row HeaderRow">
        <div class="col-md-1">#</div>
        <div class="col-md-1">Navn</div>
        <div class="col-md-1">$</div>
        <div class="col-md-1">Runder</div>
        <div class="col-md-1">Chips</div>
        <div class="col-md-1" style="cursor: pointer;" ng-click="OrderBy('Points')">Poing&nbsp;<span ng-show="orderByProp === 'Points'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></div>
        <div class="col-md-1" style="cursor: pointer;" ng-click="OrderBy('Transfers')">Bytter&nbsp;<span ng-show="orderByProp === 'Transfers'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></div>
        <div class="col-md-1" style="cursor: pointer;" ng-click="OrderBy('TransferCosts')">Gebyr&nbsp;<span ng-show="orderByProp === 'TransferCosts'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></div>
        <div class="col-md-1" style="cursor: pointer;" ng-click="OrderBy('PointsTransferCostsExcluded')">Brutto&nbsp;<span ng-show="orderByProp === 'PointsTransferCostsExcluded'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></div>
        <div class="col-md-1" style="cursor: pointer;" ng-click="OrderBy('PointsOnBench')">Benk&nbsp;<span ng-show="orderByProp === 'PointsOnBench'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></div>
        <div class="col-md-1" style="cursor: pointer;" ng-click="OrderBy('Value')">£&nbsp;<span ng-show="orderByProp === 'Value'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></div>
        <div class="col-md-1" style="cursor: pointer;" ng-click="OrderBy('Rank', true)">FPL#&nbsp;<span ng-show="orderByProp === 'Rank'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></div>
    </div>
    <div class="row BodyRow" ng-repeat="player in vm.league.PlayerStandings | orderBy: orderByProp:orderByReverse">
        <div class="col-md-1" ng-bind="$index + 1"></div>
        <div class="col-md-1">
            <span class="standing-teamname" ng-bind="player.TeamName"></span><br/><span ng-bind="player.Name"></span>
        </div>
        <div class="col-md-1" ng-bind="player.Cash"></div>
        <div class="col-md-1" ng-bind="player.Rounds"></div>
        <div class="col-md-1" ng-bind="player.Chips"></div>
        <div class="col-md-1" ng-bind="player.Points"></div>
        <div class="col-md-1" ng-bind="player.PointsOnBench"></div>
        <div class="col-md-1" ng-bind="player.Transfers"></div>
        <div class="col-md-1" ng-bind="player.TransferCosts"></div>
        <div class="col-md-1" ng-bind="player.PointsTransferCostsExcluded"></div>
        <div class="col-md-1" ng-bind="player.Value"></div>
        <div class="col-md-1" ng-bind="player.Rank"></div>
    </div>

    <pre>{{vm | json}}</pre>
</div>

<div class="container-fluid cover" ng-show="loading">
    LASTER...
</div>

<div class="container-fluid" class="error" ng-show="error">
    <!--Feil. Dette kan ta tid. Drikk øl og se noen episoder av Days Of Our Lives...-->
    <!--Oi, hva skjedde?-->
    <!--Faen, måtte du? Nå ødela du alt! ALT!!-->
    Jeg er ikke sint. Bare veldig, veldig skuffet...
</div>
