<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Navn</th>
                <th>$</th>
                <th>Chips</th>
                <th>Runder</th>
                <th style="cursor: pointer;" ng-click="orderByProp = 'Value'; orderByReverse = !orderByReverse">Poing&nbsp;<span ng-show="orderByProp === 'Value'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></th>
                <th style="cursor: pointer;" ng-click="orderByProp = 'PointsOnBench'; orderByReverse = !orderByReverse">Benk&nbsp;<span ng-show="orderByProp === 'PointsOnBench'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></th>
                <th style="cursor: pointer;" ng-click="orderByProp = 'Points'; orderByReverse = !orderByReverse">Netto&nbsp;<span ng-show="orderByProp === 'Points'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></th>
                <th style="cursor: pointer;" ng-click="orderByProp = 'Transfers'; orderByReverse = !orderByReverse">Bytter&nbsp;<span ng-show="orderByProp === 'Transfers'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></th>
                <th style="cursor: pointer;" ng-click="orderByProp = 'TransferCosts'; orderByReverse = !orderByReverse">Gebyr&nbsp;<span ng-show="orderByProp === 'TransferCosts'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="player in vm.league.PlayerStandings | orderBy: orderByProp:orderByReverse">
            <td ng-bind="$index + 1"></td>
            <td><span class="standing-teamname" ng-bind="player.TeamName"></span><br/><span ng-bind="player.Name"></span></td>
            <td ng-bind="player.Cash"></td>
            <td ng-bind="player.Chips"></td>
            <td ng-bind="player.Rounds"></td>
            <td ng-bind="player.Value"></td>
            <td ng-bind="player.PointsOnBench"></td>
            <td ng-bind="player.Points"></td>
            <td ng-bind="player.Transfers"></td>
            <td ng-bind="player.TransferCosts"></td>
        </tr>
        </tbody>
    </table>

    <pre>{{vm | json}}</pre>
</div>
