<div class="container-fluid" ng-hide="loading || error">

    <!--<select ng-model="Round" ng-options="n for n in Rounds" ng-change="ChangeRound()">
        {{n}}
    </select>-->

    <div class="btn-toolbar">
        <div class="btn-group">
            <button class="btn btn-default" ng-class="{'oh-yes':round <= Round}" ng-repeat="round in Rounds" ng-click="ChangeRound(round)">
                {{round}}&nbsp;<i ng-if="round <= Round" class="glyphicon glyphicon-ok"></i>
            </button>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Navn</th> <!--style="cursor: pointer;" ng-click="OrderBy('TeamName')">Navn&nbsp;<span ng-show="orderByProp === 'TeamName'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></th>-->
                <th style="cursor: pointer;" ng-click="OrderBy('Cash')">$&nbsp;<span ng-show="orderByProp === 'Cash'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></th>
                <th style="cursor: pointer;" ng-click="OrderBy('CupRounds')">Cup&nbsp;<span ng-show="orderByProp === 'CupRounds'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></th>
                <th style="cursor: pointer;" ng-click="OrderBy('GameweeksWon')">Runder&nbsp;<span ng-show="orderByProp === 'GameweeksWon'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></th>
                <th style="cursor: pointer;" ng-click="OrderBy('Chips')">Chips&nbsp;<span ng-show="orderByProp === 'Chips'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></th>
                <th style="cursor: pointer;" ng-click="OrderBy('Points')">Poing&nbsp;<span ng-show="orderByProp === 'Points'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></th>
                <th style="cursor: pointer;" ng-click="OrderBy('PointsOnBench')">Benk&nbsp;<span ng-show="orderByProp === 'PointsOnBench'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></th>
                <th style="cursor: pointer;" ng-click="OrderBy('Transfers')">Bytter&nbsp;<span ng-show="orderByProp === 'Transfers'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></th>
                <th style="cursor: pointer;" ng-click="OrderBy('TransferCosts')">Gebyr&nbsp;<span ng-show="orderByProp === 'TransferCosts'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></th>
                <th style="cursor: pointer;" ng-click="OrderBy('PointsTransferCostsExcluded')">Brutto&nbsp;<span ng-show="orderByProp === 'PointsTransferCostsExcluded'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></th>
                <th style="cursor: pointer;" ng-click="OrderBy('Value')">£&nbsp;<span ng-show="orderByProp === 'Value'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></th>
                <th style="cursor: pointer;" ng-click="OrderBy('Rank', true)">FPL#&nbsp;<span ng-show="orderByProp === 'Rank'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="player in vm.league.PlayerStandings | orderBy: orderByProp:orderByReverse">
                <td ng-bind="$index + 1"></td>
                <td>
                    <span class="standing-teamname" ng-bind="player.TeamName"></span><br /><span ng-bind="player.Name"></span>
                </td>
                <td><span ng-bind="player.Cash"></span></td>
                <td><span ng-bind="player.CupRounds"></span></td>
                <td class="won">
                    <span ng-repeat="won in player.GameweeksWon" ng-bind="won"></span>
                </td>
                <td class="chip">
                    <span class="chip" ng-repeat="chip in player.Chips" ng-hide="chip === 'None'">
                        <span class="gwnumber" ng-bind="$index + 1"></span>
                        <span class="" ng-bind="chip"></span>
                    </span>
                </td>
                <td ng-bind="player.Points"></td>
                <td ng-bind="player.PointsOnBench"></td>
                <td ng-bind="player.Transfers"></td>
                <td ng-bind="player.TransferCosts"></td>
                <td ng-bind="player.PointsTransferCostsExcluded"></td>
                <td ng-bind="player.Value"></td>
                <td ng-bind="player.Rank"></td>
            </tr>
        </tbody>
    </table>

    <!--<div class="row HeaderRow">
        <div class="col-md-1">#</div>
        <div class="col-md-1">Navn</div>
        <div class="col-md-1">$</div>
        <div class="col-md-1">Runder</div>
        <div class="col-md-1">Chips</div>
        <div class="col-md-1" style="cursor: pointer;" ng-click="OrderBy('Points')">Poing&nbsp;<span ng-show="orderByProp === 'Points'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></div>
        <div class="col-md-1" style="cursor: pointer;" ng-click="OrderBy('Transfers')">Bytter&nbsp;<span ng-show="orderByProp === 'Transfers'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></div>
        <div class="col-md-1" style="cursor: pointer;" ng-click="OrderBy('TransferCosts')">Gebyr&nbsp;<span ng-show="orderByProp === 'TransferCosts'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></div>
        <div class="col-md-1" style="cursor: pointer;" ng-click="OrderBy('PointsTransferCostsExcluded')">Brutto&nbsp;<span ng-show="orderByProp === 'PointsTransferCostsExcluded'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></div>
        <div class="col-md-1" style="cursor: pointer;" ng-click="OrderBy('PointsOnBench')">Benk&nbsp;<span ng-show="orderByProp === 'PointsOnBench'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></div>
        <div class="col-md-1" style="cursor: pointer;" ng-click="OrderBy('Value')">£&nbsp;<span ng-show="orderByProp === 'Value'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></div>
        <div class="col-md-1" style="cursor: pointer;" ng-click="OrderBy('Rank', true)">FPL#&nbsp;<span ng-show="orderByProp === 'Rank'"><i class="glyphicon glyphicon-sort-by-attributes" ng-show="!orderByReverse"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="orderByReverse"></i></span></div>
    </div>
    <div class="row BodyRow" ng-repeat="player in vm.league.PlayerStandings | orderBy: orderByProp:orderByReverse">
        <div class="col-md-1" ng-bind="$index + 1"></div>
        <div class="col-md-1">
            <span class="standing-teamname" ng-bind="player.TeamName"></span><br/><span ng-bind="player.Name"></span>
        </div>
        <div class="col-md-1" ng-bind="player.Cash"></div>
        <div class="col-md-1" ng-bind="player.GameweeksWon"></div>
        <div class="col-md-1" ng-bind="player.Chips"></div>
        <div class="col-md-1" ng-bind="player.Points"></div>
        <div class="col-md-1" ng-bind="player.PointsOnBench"></div>
        <div class="col-md-1" ng-bind="player.Transfers"></div>
        <div class="col-md-1" ng-bind="player.TransferCosts"></div>
        <div class="col-md-1" ng-bind="player.PointsTransferCostsExcluded"></div>
        <div class="col-md-1" ng-bind="player.Value"></div>
        <div class="col-md-1" ng-bind="player.Rank"></div>
    </div>-->
</div>

<div class="container-fluid cover" ng-show="loading && !error">
    LASTER...
</div>

<div class="container-fluid" class="error" ng-show="error">
    <!--Feil. Dette kan ta tid. Drikk øl og se noen episoder av Days Of Our Lives...-->
    <!--Oi, hva skjedde?-->
    <!--Faen, måtte du? Nå ødela du alt! ALT!!-->
    Jeg er ikke sint. Bare veldig, veldig skuffet...
</div>
