@model common.LeagueStanding

@{
    ViewBag.Title = "Hjem";
}

<div class="jumbotron">
    @foreach (var player in Model.PlayerStandings)
    {
        <div>@player.Name <strong>@player.TeamName</strong></div>
    }
</div>