@model common.LeagueStanding

@{
    ViewBag.Title = "Rules";
}

<div class="jumbotron">
    <p>
        Innsats 1350 kr fordelt slik:
        <ul>
            <li>25 kr pr snute for rundeseier, dvs 175 kr. Poengstraff for transfers skal telles med, altså trekkes fra rundescoren. Ved poenglikhet skiller vi basert på antall poeng på benken (etter at automatiske innbytter er gjort). Ved fortsatt poenglikhet antall mål scoret i runden (inklusiv av de på benken). Ved fortsatt poenglikhet, premiedeling.</li>
            <li>
                400 kr fra den enkelte, som fordeles slik:
                <ul>
                    <li>Leder etter nyttårskampene, 62,50 kr, dvs 437,50 kr totalt</li>

                    <li>Lengst i cupen, 62,50 kr, dvs 437,50 kr totalt

                    <li>Mest verdifull tropp (inkl bankbeholdning) ved sesongslutt, 62,50 kr, dvs 437,50 kr totalt

                    <li>Vinner av ligaen, 212,50 kr, dvs 1487,50 kr totalt
                </ul>
            </li>
        </ul>
    </p>
</div>